In [5]:
import psycopg2
engine = psycopg2.connect(
dbname="proyectodb1",
user="postgres",
password="proyectofinal",
host="proyectodb.colrzll4geas.us-east-1.rds.amazonaws.com",
port='5432'
)

cursor = engine.cursor()

query = """
SELECT * 
FROM pg_catalog.pg_tables 
WHERE schemaname='public';"""
cursor.execute(query)
result = cursor.fetchall()
result

[('public', 'proyectodb1', 'postgres', None, False, False, False, False)]

In [1]:
import pandas as pd
datos =  pd.read_csv('data.csv')
datos

,Periodo,Calendario,Caracter,Departamento,Jornada,Genero_Colegio,Genero,Estrato,Puntaje
0,20194,A,ACADÉMICO,SUCRE,MAÑANA,MIXTO,F,Estrato 2,247
1,20194,A,ACADÉMICO,SUCRE,MAÑANA,MIXTO,F,Estrato 2,247
2,20194,A,ACADÉMICO,BOGOTÁ,COMPLETA,MIXTO,F,Estrato 3,231
3,20194,A,ACADÉMICO,BOGOTÁ,COMPLETA,MIXTO,F,Estrato 3,231
4,20194,A,TÉCNICO/ACADÉMICO,CAUCA,MAÑANA,MIXTO,M,Estrato 2,273
...,...,...,...,...,...,...,...,...,...
1112047,20194,A,ACADÉMICO,BOGOTÁ,MAÑANA,MIXTO,F,Estrato 3,286
1112048,20194,A,ACADÉMICO,BOGOTÁ,MAÑANA,MIXTO,F,Estrato 1,267
1112049,20194,A,ACADÉMICO,BOGOTÁ,MAÑANA,MIXTO,F,Estrato 1,267
1112050,20194,A,TÉCNICO/ACADÉMICO,HUILA,NOCHE,MIXTO,M,NaN,263
1112051,20194,A,TÉCNICO/ACADÉMICO,HUILA,NOCHE,MIXTO,M,NaN,263

In [4]:
from sqlalchemy import create_engine, text
engine=create_engine('postgresql://postgres:proyectofinal@proyectodb.colrzll4geas.us-east-1.rds.amazonaws.com:5432/proyectodb1')
datos.to_sql('proyectodb1', con=engine, if_exists="replace", index=False)

datosfinal= pd.read_sql(text("SELECT * FROM proyectodb1"), con=engine.connect())
datosfinal

,Periodo,Calendario,Caracter,Departamento,Jornada,Genero_Colegio,Genero,Estrato,Puntaje
0,20194,A,ACADÉMICO,SUCRE,MAÑANA,MIXTO,F,Estrato 2,247
1,20194,A,ACADÉMICO,SUCRE,MAÑANA,MIXTO,F,Estrato 2,247
2,20194,A,ACADÉMICO,BOGOTÁ,COMPLETA,MIXTO,F,Estrato 3,231
3,20194,A,ACADÉMICO,BOGOTÁ,COMPLETA,MIXTO,F,Estrato 3,231
4,20194,A,TÉCNICO/ACADÉMICO,CAUCA,MAÑANA,MIXTO,M,Estrato 2,273
...,...,...,...,...,...,...,...,...,...
1112047,20194,A,ACADÉMICO,BOGOTÁ,MAÑANA,MIXTO,F,Estrato 3,286
1112048,20194,A,ACADÉMICO,BOGOTÁ,MAÑANA,MIXTO,F,Estrato 1,267
1112049,20194,A,ACADÉMICO,BOGOTÁ,MAÑANA,MIXTO,F,Estrato 1,267
1112050,20194,A,TÉCNICO/ACADÉMICO,HUILA,NOCHE,MIXTO,M,None,263
1112051,20194,A,TÉCNICO/ACADÉMICO,HUILA,NOCHE,MIXTO,M,None,263